# Frontend (Vite build-time) environment variables
VITE_API_URL=https://civitas.socialstudies.cloud/api
VITE_LOGTO_ENDPOINT=https://auth.learnsocialstudies.com
VITE_LOGTO_APP_ID=avc4zf5kjm5rgc5xgsegh
VITE_APP_REDIRECT_URI=https://civitas.socialstudies.cloud/callback
VITE_APP_SIGNOUT_REDIRECT_URI=https://civitas.socialstudies.cloud
